.about-section {
  padding-top: 200px; 
  padding-left: 20px;
  padding-right: 20px;
}

.about-section h1 {
  color: #f0f0f0; 
  margin-bottom: 20px;
}

.box-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.box {
  display: flex;
  flex-direction: column;
  background-color: #444c56;
  color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.box:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}

.about-details {
  flex: 1;
}

.title-with-icon {
  display: flex;
  align-items: center;
  gap: 10px;
}

.about-section .title-with-icon .icon {
  width: 60px;
  height: 60px;
}
.sub-title {
  font-size: 1.4em;
  font-weight: bold;
  color: #f0f0f0;
  margin: 0;
}

.text {
  color: #d0d0d0;
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .about-section {
    padding-top: 150px;
  }

  .box {
    padding: 15px;
  }

  .about-section .title-with-icon .icon {
    width: 30px;
    height: 30px;
  }

  .sub-title {
    font-size: 1.2em;
  }

  .text {
    font-size: 0.70em;
    margin-bottom: 8px;
  }
}

@media (max-width: 640px) {
  .about-section {
    padding-top: 130px;
  }

  .box {
    padding: 12px;
  }

  .icon {
    width: 25px;
    height: 25px;
  }

  .sub-title {
    font-size: 1em;
  }

  .text {
    font-size: 0.65em;
    margin-bottom: 6px;
  }
}

@media (max-width: 480px) {
  .about-section {
    padding-top: 110px;
  }

  .box {
    padding: 10px;
  }

  .about-section .title-with-icon .icon {
    width: 30px;
    height: 30px;
  }
  .sub-title {
    font-size: 0.9em;
  }

  .text {
    font-size: 0.60em;
    margin-bottom: 5px;
  }
}
