.experience-section {
  padding-top: 200px;
  padding-left: 20px;
  padding-right: 20px;
}

.experience-section h1 {
  color: #282c34;
  margin-bottom: 20px;
}

.experience-section p {
  margin-bottom: 40px;
}

.experience-box-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.experience-box {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #444c56;
  color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.experience-box:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}

.experience-details {
  flex: 1;
}

.title-with-icon7 .experience-photo1 {
  width: 70px;
  height: 70px;
}

.title-with-icon7 .experience-photo2 {
  width: 60px;
  height: 40px;
  
}
.title-with-icon7 .experience-photo3 {
  width: 75px;
  height: 40px;
}
.title-with-icon7 {
  display: flex;
  align-items: center;
  gap: 15px; 
}

.designation {
  font-size: 1.4em;
  font-weight: bold;
  color: white;
  margin-top: 3px;
}

.company {
  color:  #000101;
  font-weight: bold;
  font-size: 1.1em;
  margin-top: 3px;
}

.dates {
  display: flex;
  align-items: center;
  color: white;
  margin-top: -5px;
}

.icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  vertical-align: middle;
}

.notes {
  color: #adb5bd;
  margin-top: 10px;
}

.notes li {
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .experience-section {
    padding-top: 150px;
  }

  .experience-box {
    padding: 15px;
  }

  .title-with-icon7 .experience-photo1 {
    width: 60px;
    height: 60px;
  }

  .title-with-icon7 .experience-photo2 {
    width: 50px;
    height: 35px;
  }
  .title-with-icon7 .experience-photo3 {
    width: 55px;
    height: 30px;
  }

  .experience-section .designation {
    font-size: 0.8em;
  }

  .experience-section .company {
    font-size: 0.8em;
  }

  .experience-section .dates {
    font-size: 0.7em;
  }

  .experience-section .notes {
    font-size: 0.65em;
  }
}

@media (max-width: 640px) {
  .experience-section {
    padding-top: 130px;
  }

  .experience-box {
    padding: 12px;
  }

  .title-with-icon7 .experience-photo1 {
    width: 50px;
    height: 50px;
  }

  .title-with-icon7 .experience-photo2 {
    width: 45px;
    height: 30px;
  }

  .experience-section .designation {
    font-size: 0.7em;
  }

  .experience-section .company {
    font-size: 0.65em;
  }

  .experience-section .dates {
    font-size: 0.6em;
  }

  .experience-section .notes {
    font-size: 0.6em;
  }
}
