.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #1b2025; 
  color: #f0f0f0; 
  padding: 20px 50px;
  box-shadow: 0px 4px 2px -2px gray;
  z-index: 1000;
  display: flex;
  justify-content: center;
  transition: padding 0.3s;
}

.header-content {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-section {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.profile-pic {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  margin-right: 25px;
}

.name-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name {
  margin: 0;
  font-size: 28px;
}

.titles {
  margin: 8px 0;
  font-size: 18px;
}

.titles span {
  display: inline-block;
  margin-right: 10px;
}

.contact-info {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
}


.location, .email {
  font-size: 16px;
  color: #bbbbbb;
  margin: 0;
  display: flex;
  align-items: center;
}

.location svg, .email svg {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  fill: #f0f0f0;
}

.email a {
  color: #f0f0f0 !important;
  text-decoration: none;
}

.email a:hover {
  text-decoration: underline;
}

.social-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
}

.social-links a, .cv-container {
  margin-bottom: 10px;
}

.social-links a:last-child, .cv-container {
  margin-bottom: 0;
}

.social-links a {
  color: #f0f0f0;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.social-links a:hover {
  text-decoration: underline;
}

.social-links a svg {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  fill: #f0f0f0;
}

.cv-container {
  position: relative;
}

.cv-button {
  background-color: transparent;
  border: none;
  color: #f0f0f0;
  font-size: 1em;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0;
}

.cv-button svg {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  fill: #f0f0f0;
}

.cv-button:hover {
  text-decoration: underline;
}

.dropdown-menu {
  position: absolute;
  top: 100%; 
  right: 0; 
  background-color: #1b2025;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  padding: 10px;
  z-index: 1000;
  display: none;
}

.dropdown-menu.show-dropdown {
  display: block;
}

.dropdown-menu a {
  color: #f0f0f0;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
  white-space: nowrap;
}

.dropdown-menu a:hover {
  background-color: #444c56;
}

@media (max-width: 768px) {
  .header {
    padding: 8px 11px;
  }

  .profile-section {
    margin-right: 20px;
  }

  .header-content {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .social-links {
    flex-direction: row; 
    align-items: center; 
  }

  .social-links a, .cv-container {
    margin-right: 10px; 
    margin-bottom: 0;
  }

  .social-links a:last-child, .cv-container {
    margin-right: 0;
  }
  .contact-info {
    gap: 10px;
  }

  .profile-pic {
    width: 75px;
    height: 75px;
  }

  .name {
    font-size: 20px; 
  }

  .titles {
    font-size: 12px;
  }

  .location, .email {
    font-size: 12px;
  }

  .location svg, .email svg {
    width: 8px;
    height: 8px;
    margin-right: 4px;
  }

  .social-links a svg, .cv-button svg {
    width: 8px;
    height: 8px;
  }

  .social-links a, .cv-container {
    margin-right: 8px; 
  }

  .social-links {
    font-size: 10px;
  }
}

@media (max-width: 680px) {
  .header {
    padding: 5px 10px; 
  }

  .profile-section {
    margin-right: 18px; 
  }
  .profile-pic {
    width: 70px;
    height: 70px;
  }

  .header-content {
    gap: 6px;
  }

  .name {
    font-size: 12px;
  }

  .titles {
    font-size: 8px; 
  }

  .location, .email {
    font-size: 10px; 
  }

  .location svg, .email svg {
    width: 8px;
    height: 8px;
    margin-right: 4px;
  }

  .social-links a svg, .cv-button svg {
    width: 8px;
    height: 8px;
  }

  .social-links a, .cv-container {
    margin-right: 8px; 
  }

  .social-links {
    font-size: 8px;
  }
  .location, .email {
    font-size: 8px;
  }
}

