.projects-section {
  padding-top: 200px;
  padding-left: 20px;
  padding-right: 20px;
}

.projects-section h1 {
  color: #282c34;
  margin-bottom: 20px;
}

.projects-section p {
  margin-bottom: 40px;
}

.box-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project-box {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #444c56;
  color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.project-box:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}

.project-details {
  flex: 1;
}


.title-with-icon9 {
  display: flex;
  align-items: center;
  gap: 15px; 
}

.title-with-icon9, .project-photo1 {
  width: 60px;
  height: 60px;
}

.title-with-icon9, .project-photo2 {
  width: 60px;
  height: 60px;
}
.title-with-icon9, .project-photo3 {
  width: 60px;
  height: 60px;
}

.designation {
  font-size: 1.4em;
  font-weight: bold;
  color: white;
  white-space: nowrap;
}

.company {
  color: #000101;
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 8px;
}

.project-link a {
  color: #f6f6f6;
  font-size: 1em;
  text-decoration: none;
}

.project-link a:hover {
  text-decoration: underline;
}

.notes {
  color: #adb5bd;
  margin-top: 10px;
}

.notes li {
  margin-bottom: 5px;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 2px 20px;
  gap: 8px;
  background-color: #181717;
  outline: 2px #181717 solid;
  outline-offset: -2px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 400ms;
  min-width: 100px;
}

.button .text {
  color: white;
  font-weight: 700;
  font-size: 0.9em;
  margin-bottom: 10px;
  transition: 400ms;
}

.button img, .button svg {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  transition: 400ms;
}

.button:hover {
  background-color: transparent;
}

.button:hover .text {
  color: #181717;
}

.button:hover img, .button:hover svg {
  filter: invert(100%);
}
@media (max-width: 768px) {
  .projects-section {
    padding-top: 150px;
  }

  .project-box {
    padding: 15px;
  }

  .title-with-icon9 .project-photo1,
  .title-with-icon9 .project-photo2,
  .title-with-icon9 .project-photo3 {
    width: 50px;
    height: 50px;
  }

  .projects-section .designation {
    font-size: 1em;
  }

  .projects-section .company {
    font-size: 0.8em;
  }

  .projects-section .project-link a {
    font-size: 0.7em;
  }

  .projects-section .notes {
    font-size: 0.65em;
  }

  .projects-section .button {
    padding: 2px 11px;
    gap: 6px;
    min-width: 80px;
  }

  .projects-section .button .text {
    font-size: 0.7em;
  }

  .projects-section .button img, 
  .projects-section .button svg {
    width: 14px;
    height: 14px;
  }
}

@media (max-width: 640px) {
  .projects-section {
    padding-top: 130px;
  }

  .project-box {
    padding: 12px;
  }

  .title-with-icon9 .project-photo1,
  .title-with-icon9 .project-photo2,
  .title-with-icon9 .project-photo3 {
    width: 45px;
    height: 45px;
  }

  .projects-section .designation {
    font-size: 0.7em;
  }

  .projects-section .company {
    font-size: 0.65em;
  }

  .projects-section .project-link a {
    font-size: 0.7em;
  }

  .projects-section .notes {
    font-size: 0.60em;
  }

  .projects-section .button {
    padding: 2px 10px;
    gap: 5px;
    min-width: 70px;
  }

  .projects-section .button .text {
    font-size: 0.6em;
  }

  .projects-section .button img, 
  .projects-section .button svg {
    width: 12px;
    height: 12px;
  }
}

