.skills-section1 {
  padding-top: 200px;
  padding-left: 20px;
  padding-right: 20px;
}

.skills-container1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.box1 {
  background-color: #444c56;
  color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.box1:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}

.skills-title1 {
  margin-top: 3px;
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: 25px;
}

.skills-list1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 55px;
}

.skill-card1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.percent1{
  position: relative;
  width: 150px;
  height: 150px;
}

.percent1 svg {
  position: relative;
  width: 150px;
  height: 150px;
  transform: rotate(-90deg);
}

.percent1 svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: #191919;
  stroke-width: 10;
  stroke-linecap: round;
  transform: translate(5px, 5px);
}

.percent1 svg circle:nth-child(2) {
  stroke: #1e90ff;
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  transition: stroke-dashoffset 1s ease;
}

.num1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.num1 h2 {
  font-size: 40px;
  color: white;
  margin: 0;
}

.num1 h2 span {
  font-size: 24px;
  color: white;
}

.text1 {
  margin-top: 10px;
  font-size: 1.2em;
  color: #adb5bd;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .skills-section1 {
    padding-top: 150px;
  }

  .skills-title1 {
    font-size: 1.2em;
  }

  .skills-list1 {
    gap: 35px;
  }

  .skill-card1 {
    margin-bottom: 20px;
  }

  .percent1 svg circle {
    stroke-width: 7;
  }
  .num1 h2 {
    font-size: 30px;
  }

  .num1 h2 span {
    font-size: 18px;
  }

  .text1 {
    font-size: 1em;
  }
}

@media (max-width: 640px) {
  .skills-section1 {
    padding-top: 130px;
  }

  .skills-title1 {
    font-size: 1em;
  }

  .skills-list1 {
    gap: 25px;
  }
  .percent1 svg circle {
    stroke-width: 7;
  }
  .num1 h2 {
    font-size: 24px;
  }

  .num1 h2 span {
    font-size: 16px;
  }

  .text1 {
    font-size: 0.8em;
  }
}